      body {
        padding: 10px 10px;
        background-image: url('background js.png');
        backgroud: no-repeat;
      }
    img {
      pointer-events: none;
      max-width:100%;
    }
    .holder {
      width:300px;
      height:520px;
      overflow:hidden;
      border: 2px solid green;
    }
    .holder ol {
      list-style-type:none;
      width:3600px;
      padding:0;
      margin:0;
      background: white;
      position:relative;
      left:0;
      transition:left 0.5s;
    }
    .holder li {
      display:inline-block;
      width:300px;   
    }
    
    .bgvisual{
      color: white;
      text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    }